table{
    font-family: Tahoma;
    font-size: 12px;
    border: 1px solid #cc0033;
    text-align: center;
    border-collapse: collapse;
}
th{
    background-color: #cc0033;
    color: #fff;
    border: 1px solid rgb(255, 0, 55);
}
td{
    border:1px solid rgb(255, 0, 55);
}
#left{
    text-align: left;
}
