.circle{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid #fff ;
    border-radius: 50% ;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -100px 0 0 -100px;
}


